<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Popup Sendvalue Form</title>
</head>
<body>
	<form name="Form">
		이름 : <input type="text" name="name"><br>
		제목 : <input type="text" name="title"><br>
		옵션 : <select name="option" id="option">
			<option value="option1">option1</option>
			<option value="option2">option2</option>
			<option value="option3">option3</option>
		</select><br>
		체크 : <input type="checkbox" name="checkbox" id="checkbox"><br>
		내용 : <textarea name="content"></textarea><br>
	</form>
	<button onclick="fn_Send()">전달하기</button>
</body>
<script>
	function fn_Send() {
        window.opener.document.getElementById("name").value = document.Form.name.value;
        window.opener.document.getElementById("title").value = document.Form.title.value;
        window.opener.document.getElementById("content").value = document.Form.content.value;
        
        if(document.Form.option.value == "option1"){
        	window.opener.document.getElementById("option").options[0].selected = true;
        } else if (document.Form.option.value == "option2") {
        	window.opener.document.getElementById("option").options[1].selected = true;
        } else {
        	window.opener.document.getElementById("option").options[2].selected = true;
        }
        
        if(document.Form.checkbox.checked == true){
        	window.opener.document.getElementById("checkbox").checked = true;
        } else {
        	window.opener.document.getElementById("checkbox").checked = false;
        }
        
        window.close();
	}
</script>
</html>