<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Http ChangeMethod Index</title>
</head>
<link rel="stylesheet" href="/css/basic/styles.css">
<body>
	<div>
		<h2>Request HTTP GET to POST</h2>
		<button onclick="fn_getToPost()">GETtoPOST</button>
	</div>
	<div>
		<h2>Request HTTP POST to GET</h2>
		<button onclick="fn_postToGet()">POSTtoGET</button>
		<form name="form"></form>
	</div>
</body>
<Script>
	function fn_getToPost() {
		location.href = "/http/change-method/get-to-post"
	}
	
	function fn_postToGet() {
		document.form.action = "/http/change-method/post-to-get";
		document.form.method = "POST";
		document.form.submit();
	}
</Script>
</html>