<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fetch Calculator Form</title>
</head>
<link rel="stylesheet" href="/css/basic/styles.css">
<body>
	<form name="Form">
		숫자A : <input type="number" name="numA"><br>
		숫자B : <input type="number" name="numB"><br>
		기호(+ - * / 선택)<input type="text" name="type"><br>
	</form>
	<button onclick="sendRequest()">계산</button>
	<div id="result">계산 결과</div>
</body>
<script>
	function sendRequest() {
	  let numA = document.Form.numA.value;
	  let numB = document.Form.numB.value;
	  let type = document.Form.type.value;

	  let formData = new FormData();
	  formData.append('numA', numA);
	  formData.append('numB', numB);
	  formData.append('type', type);
	
	  fetch('/Fetch/Calculator/Result', {method: 'POST',body: formData})
	  .then(response => response.text())
	  .then(data => {document.getElementById('result').textContent = data;})
	  .catch(error => console.error('에러:', error));
	}
</script>
</html>