<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CrudBasic">
	<select id="list" resultType="com.i.manual.crud.basic.CrudBasicDTO">
			SELECT 
			       idx,
			       title,
			       content,
			       name,
			       FORMATDATETIME(datetime, 'yyyy-MM-dd HH:mm:ss') AS datetime,
			       hit
			FROM CRUD
	</select>
	
	<insert id="create" parameterType="com.i.manual.crud.basic.CrudBasicDTO">
			INSERT INTO CRUD (
				title,
				content,
				name,
				datetime,
				hit
			)
			values (
				#{title},
				#{content},
				#{name},
				CURRENT_TIMESTAMP(),
				'0'
			)
	</insert>
	
	<update id="updateHit" parameterType="String">
		UPDATE CRUD set hit = hit + 1 WHERE idx = #{idx}
	</update>
	
	<select id="read" resultType="com.i.manual.crud.basic.CrudBasicDTO" parameterType="String">
		SELECT 
			idx,
			title,
			content,
			name,
			FORMATDATETIME(datetime, 'yyyy-MM-dd HH:mm:ss') AS datetime,
			hit
		FROM CRUD
		WHERE idx = #{idx}
	</select>
	
	<update id="update" parameterType="com.i.manual.crud.basic.CrudBasicDTO">
		UPDATE CRUD SET
		      title    = #{title}
		    , name     = #{name}
		    , content  = #{content}
	    WHERE idx = #{idx}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM CRUD WHERE idx = #{idx}
	</delete>
</mapper>