<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CrudSearch">
	<select id="list" resultType="com.i.manual.crud.search.CrudSearchDTO">
		SELECT 
			idx,
			title,
			content,
			name,
			FORMATDATETIME(datetime, 'yyyy-MM-dd HH:mm:ss') AS datetime,
			hit
		FROM CRUD
		WHERE 1 = 1
		<if test="searchKeyword != ''">
			<choose>
				<when test="searchOption == 'title'">
					AND title LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<when test="searchOption == 'content'">
					AND content LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<when test="searchOption == 'name'">
					AND name LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
			</choose>
		</if>
		<if test="(searchDateStart != null and searchDateStart != '') and (searchDateEnded != null and searchDateEnded != '')">
			AND datetime between #{searchDateStart} AND #{searchDateEnded}
		</if>
	</select>
</mapper>