<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PaginationBasic">
	<select id="list" resultType="com.i.manual.pagination.basic.PaginationBasicDTO">
			SELECT 
			       idx,
			       title,
			       content,
			       name,
			       FORMATDATETIME(datetime, 'yyyy-MM-dd HH:mm:ss') AS datetime,
			       hit
			FROM CRUD
			ORDER BY idx DESC
			LIMIT #{postsPerPage} OFFSET #{pageStart}
	</select>
	
	<select id="count" resultType="int">
			SELECT 
			       Count(*)
			FROM CRUD
	</select>
</mapper>