<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Crud JSForm Read</title>
</head>
<link rel="stylesheet" href="/css/basic/styles.css">
<body>
	<form name="form">
		<div th:text="|글번호 : ${read.idx}|"></div>
		<div th:text="|작성일 : ${read.datetime}|"></div>
		<div th:text="|조회수 : ${read.hit}|"></div>
		<div>이름 : <input type="text" name="name" th:value="${read.name}"/></div>
		<div>제목 : <input type="text" name="title" th:value="${read.title}"/></div>
		<div>내용 : <textarea name="content" th:text="${read.content}"></textarea></div>
	</form>
		<div><button type="button" th:onclick="@{|fn_updateSubmit(${read.idx})|}">수정</button></div>
		<div><a href="/crud/js-form/list"><button>목록</button></a></div>
		<div><button type="button" th:onclick="@{|fn_deleteSubmit(${read.idx})|}">삭제</button></div>
</body>
<script type="text/javaScript">
	function fn_updateSubmit(idx) {
       	document.form.action = "/crud/js-form/update/" + idx;
       	document.form.method = "POST";
       	document.form.submit();
	}
	
	function fn_deleteSubmit(idx) {
       	document.form.action = "/crud/js-form/delete/" + idx;
       	document.form.submit();
	}
</script>
</html>